@use '../abstracts/variables' as v;

.container-content-about {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-rows: max-content;
}

.about-points {
  line-height: 162%;
  letter-spacing: -0.01em;
}

.about-point {
  margin-bottom: 1.5rem;
}

.point-title {
  background: v.$very-pale-red;
  padding: 0.5rem 0;
  border-bottom-left-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  margin-bottom: 1rem;
  span {
    line-height: 1.5rem;
    font-weight: 700;
  }
  b {
    line-height: 1.5rem;
    color: v.$dark-blue;
  }
}

.numbers {
  padding: 0.5rem 1.5rem;
  background: v.$bright-red;
  border-radius: 1.25rem;
  color: v.$very-light-gray;
}

@media screen and (min-width: v.$medium) {
  .section-about {
    margin-top: 0;
    text-align: start;
    margin-right: 1rem;
  }
}

@media screen and (min-width: v.$large) {
  .section-about {
    text-align: start;
    margin-left: 4rem;
    h2 {
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin-bottom: 2rem;
    }
    p {
      padding-right: 6.25rem;
    }
  }

  .about-point {
    p {
      margin-left: 4.5rem;
    }
  }
  .point-title {
    background: transparent;
  }

  .container-content-about {
    margin-right: 64px;
  }
}

@media screen and (min-width: v.$huge) {
  .section-about {
    h2 {
      font-size: 3rem;
      line-height: 1;
    }

    p {
      padding-right: 12rem;
    }
  }
}
