@use '../abstracts/variables' as v;

.card-testimonials {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
img {
  max-width: 70px;
  width: 100%;
  height: 100%;
}

.card-background {
  background: v.$very-light-gray;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
  b {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: v.$dark-grayish-blue;
  }
}
