@use '../abstracts/variables' as v;

footer {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
  padding: 2rem 0;
  background: v.$very-dark-blue;

  a {
    color: v.$very-light-gray;
  }
  span {
    color: v.$very-light-gray;
  }

  padding: 2rem 0;

  form {
    input[type='email'] {
      height: 44px;
      width: 240px;
      margin: 0;
      padding: 0;
      text-indent: 1rem;
      border-radius: 22px;
      &::placeholder {
        padding-left: 2rem;
      }
      &:focus {
        border: 2px solid v.$bright-red;
      }
    }
    button {
      width: 80px;
      margin: 0;
      margin-left: 0.5rem;
    }
  }
}

.col-1-desktop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4rem;

  .col-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  img {
    height: 2rem;
    width: auto;
  }
}

.attribution {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  padding: 1rem 0;
  font-size: 0.75rem;
  text-align: center;
  gap: 1rem;
  background: v.$very-dark-blue;
  color: v.$very-light-gray;
  a {
    color: v.$very-light-gray;
  }
}

.copyright {
  color: v.$dark-grayish-blue;
  order: -1;
}

@media screen and (min-width: v.$large) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3.25rem;
    padding: 2rem 0;
  }

  .copyright {
    order: initial;
    width: 100%;
    margin-top: -4.375rem;
    margin-right: 3rem;
    display: flex;
    justify-content: end;
  }

  .col-1-desktop {
    gap: 5.5rem;
  }
}

@media screen and (min-width: v.$huge) {
  .nav-footer {
    gap: 8rem;
  }
}
