@use '../abstracts/variables' as v;

.section-article {
  h1 {
    font-weight: 700;
    color: v.$dark-blue;
  }
}

@media screen and (min-width: v.$medium) {
  .section-article {
    grid-column: 1/2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 4rem;
    text-align: start;
  }

  .illustration-intro {
    grid-column: 2/3;
  }
}

@media screen and (min-width: v.$large) {
  .section-article {
    h1 {
      font-size: 3.75rem;
      line-height: 1.15;
    }
  }
}
