@use '../abstracts/variables' as v;

.navbar {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: v.$very-dark-blue;
    &:hover {
      color: v.$dark-grayish-blue;
    }
  }
}

.button-nav {
  display: none;
}

.menu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 6rem;
  width: 80vw;
  border-radius: 0.5rem;
  position: fixed;
  top: 100px;
  background: #fff;
  a {
    color: v.$very-dark-blue;
    font-weight: 700;
  }
}

@media screen and (min-width: v.$medium) {
  .menu {
    visibility: visible;
    flex-direction: row;
    background: none;
    position: initial;
    padding: 0;
    width: auto;
    gap: 1rem;
  }

  .button-nav {
    display: block;
  }

  .hamburger {
    display: none;
  }
}
